	
	body {
		border: 1px solid green;
	background-color: #efeee7;
	font-family: "georgia","times new roman","times","serif";
	}

	h1 {
		border: 1px solid blue;
		padding:20px;
		border: 2px solid#cccccc;
		font-size: 20px; 
		text-align: center; 
		background-color: #4aaaa5; 
		color: white; 
		width:30%;
		float:left;
		margin-left:15px;
	}

	ul {
		list-style-type: none;
		margin:0;
 		padding: 0;
 		overflow: hidden;
 		width: 285px;
		font-size: 15px;
		float: right;
	}

   	li {
   		float:right;
   	}
	
	li a {
		display:inline-block;
		color:#777777;
		text-align: center;
		padding: 14px 16px;
		text-decoration:none;
	}
	
	
	section{
		clear:both;
		width: 63%;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		padding: 10px;
		float: left;
		margin-bottom: 30px;
		overflow: auto;
		margin-left: 10px;
	}
	
	h2 {
		color:#4aaaa5;
		font-size: 15px; 
		text-align: left; 
		margin: 15px; 
	}
	img {
		border:5px solid #4aaaa5;
		margin:10px;
		float: left;
		display: inline;
	}

	/* All p tags */
	p {
		color:#777777;
		text-align: justify;
		font-size: 15px;
		/*font-weight: bold; /* Bold the text */
	}

	aside{
		width: 30%;
		border: 1px solid #dddddd;
		background-color: #ffffff;
		color:#4aaaa5;
		font-size: 15px;
		text-align: center;
		float: left;
		margin-left: 25px;

	}

	.iconos{
		display:inline-block;
		margin:0 auto;

	}

	.iconos li{
		margin:0px auto;
	}


	.linkedin img{
		width:40px;
		height:40px;
		border:0;
	}
	.github img{
		width:40px;
		height:40px;
		border:0;
	}

	.stack img{
		width:40px;
		height:40px;
		border:0;
	}

	footer, .push{
		padding: 20px;
		height: 25px;
		clear:both;
		text-align: center;
		font-size: 12px;
		background: #666666;
		color: white;
		border-top: 5px solid #4aaaa5;
		position: fixed;
		left: 0;
		bottom:0;
		width: 100%;
	}
	